@font-face {
  font-family: "jf-openhuninn";
  src: url(../font/jf-openhuninn-1.0.ttf);
}

body {
  font-family: "jf-openhuninn";
}

main {
  margin-top: 94px;
}

.footer__link-title {
  padding-bottom: 10px;
  border-bottom: 1px dashed #ffffff;
}

.copyright {
  background-color: #000000;
}

.copyright p {
  padding: 20px;
  margin-bottom: 0;
}

.contact li,
.useful-link li a {
  display: block;
  padding: 5px;
}

.useful-link li a {
  text-decoration: none;
}
.useful-link a:hover {
  color: #ffc107;
}

.logo {
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.DM {
  position: relative;
}

.plus {
  color: #ff0000;
  font-weight: bolder;
  display: inline-block;
  margin-left: 3px;
  transform: rotate(75deg);
  position: absolute;
}

.plus--logo {
  font-size: 20px;
  top: -14px;
  left: 28px;
}

.plus--banner {
  top: -30px;
  left: 80px;
}

.logo--header {
  width: 186px;
  height: 60px;
}

.logo--footer {
  width: 152px;
  height: 48px;
}

.useful-link a,
.contact a {
  color: #ffffff;
  display: block;
}

.fa-map-marker-alt {
  color: #ff0000;
}

.research-img--resize {
  max-width: 192px;
  height: auto;
  margin: 20px auto;
}

.member-img--resize {
  max-width: 150px;
  height: auto;
  margin: 20px auto;
}

.member-img--border {
  border-radius: 50%;
}

.card--border {
  border-radius: 20px;
}

.content-section {
  padding: 50px 0px;
}
.content-section:nth-child(2n) {
  background-color: #f1f1f1;
}

.content-section__title {
  position: relative;
}

.content-section__title::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: calc(50% - 150px);
  display: block;
  height: 3px;
  width: 50px;
  border-radius: 20px;
  background-color: #000000;
}

.content-section__title::after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: calc(50% + 100px);
  display: block;
  height: 3px;
  width: 50px;
  border-radius: 50px;
  background-color: #000000;
}

.contact dt {
  font-size: 1.5rem;
}
.contact dd {
  font-size: 1.3rem;
}

.contact-img {
  display: inline-block;
  max-width: 35px;
  height: auto;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-item-title {
  display: inline-block;
  border-bottom: 5px solid #ffc107;
}

.feature-title {
  position: relative;
}

.feature-title::before {
  content: "";
  display: block;
  position: absolute;
  top: 1.2rem;
  left: 0;
  width: 100%;
  height: 0.7rem;
  z-index: -1;
  background-color: #ffc107;
}

.feature-img {
  border-radius: 20px;
}

.content--fixed {
  padding-top: 100px;
}

.navbar--transition {
  transition: all 0.2s;
}
.member {
  padding-bottom: 200px;
}

.card,
.feature-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.member .card {
  margin-bottom: 40px;
}

.card__professor,
.card__phd {
  max-width: 500px;
  margin: 0 auto;
}

.member .card {
  border-radius: 30px;
  padding: 20px;
}

.card__professor .info > li,
.card__phd .info > li {
  font-size: 1.2em;
  padding: 5px;
}

.info__title {
  font-weight: bold;
}

.member .card li {
  margin-bottom: 5px;
}

.course {
  padding-bottom: 50px;
}

.course section {
  margin-bottom: 40px;
}

.paper__item {
  margin-bottom: 30px;
}

.publication section {
  margin-bottom: 50px;
}

.publication section h3 {
  margin-bottom: 30px;
}

.publication {
  padding-bottom: 50px;
}

.feature p {
  font-size: 18px;
}

iframe.map {
  width: 100%;
}
